* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    background-color: rgb(167, 149, 149);
    color: black;
    margin: 0;
}

h2 {
    background-color: rgb(214, 214, 154);
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

 h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    
h4 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;   
}